@mixin bordeTitulos {
    display: flex;
    justify-content: space-between;
    border-style: solid ;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    padding: 1%;
}

@mixin grid-cards {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 3%;
}