$color-primario: #f0aa40d3 ;
$color-secundario: #ced4dac5 ;
$color-texto: black ;

$tipografia-general: 'Arimo', sans-serif; /* font-family: 'Arimo', sans-seri; */
$tipografia-alternativa: 'Ubuntu', sans-serif; /* font-family: 'Ubuntu', sans-serif; */

$color:(
    principal: #f0aa40d3,
    cuadros: #ced4dac5
)