/* --- Variables --- */

/* --- Maps --- */
$fuente:(
    principal: 'Arimo', sans-serif,
    general: 'Ubuntu', sans-serif
);
$tamaño:(
    titulo: 700,
    parrafos: 400
);
$color:(
    principal: #f0aa40d3 ,
    cuadros: #ced4dac5,
);