@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&family=Ubuntu&display=swap');

@import "variables.scss";

@import "mixins.scss";

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
ol {
    list-style: none;
}
ul {
    list-style-type: none;
}
body{
    background-image: url(../img/background.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}
header{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    background-color: map-get($color, principal ) ;
    border-style: double;
    margin-top: 1%;
    margin-bottom: 1% ;
    font-family: $tipografia-general ;
    font-weight: bold;
    .nav-item{
        background-color: white;
        border-style: solid;
        border-color:black;
        border-radius: 10px;
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
      }
      .nav-item:hover, .nav-item:focus, .nav-item:active {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }
    }
.btn_wsp{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #0df053;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index: 100;
}  
footer{
    background-color: map-get($color,principal ) ;
    font-family: $tipografia-general;
    border-style: solid;
    text-align: center;
    margin-top: auto;
    margin-bottom: 2%;
}
/* --- Index --- */

.titulosWara{
    @include bordeTitulos;
    font-family: $tipografia-general;
    font-weight: 700;
}
.cuadro{
    margin: 3%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    .cuadroTexto h2{
        font-weight: 900 ;
    }
    .cuadroTexto{
        padding: 1%;
        margin-bottom: 5%;
        width: 90%;
        border-style: solid;
        font-weight:bolder;
        font-size: 20px;
        text-indent: 20px;
        font-family: $tipografia-alternativa;
        color: black;
        background-color: map-get($color,cuadros);
        line-height: 40px;
    }
}
.carousel {
    height: 100%;
    width: 60%;
    margin-top: 5%;
    transform: translateX(35%);
}
.redesSociales{
    display: grid;
    grid-template-columns: 5% 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    place-content: center;    
}

/* --- Recetas --- */

.cuerpoTarjeta{
    @include grid-cards;
}
.tarjeta{
    display: flex;
    display: block;
    flex-direction: column;
    margin: 1%;
    border-style: solid;
    font-family: $tipografia-alternativa;
    font-style: italic;
    font-weight:bolder;
    text-align: center;
    line-height: 30px;
    background-color: $color-secundario;
    font-size: 20px;
    width: 90%;
        img{
            margin: 2%;
        }
}
.pagination{
    display: flex;
    justify-content: center;
}
.recetasDos{
    display: grid ;
    grid-template-columns: auto;
    grid-template-rows: auto auto ;
    place-content: center;
}

/* --- Contacto ---*/

.mapa{
    display: grid;
    grid-template-columns: auto auto;
    font-family: $tipografia-alternativa;
    font-style: italic;
    font-weight:bolder;
    line-height: 30px;
    font-size: 30px;
    margin: 2%;
     p{
        border-style: solid;
        border-color: black;
        padding: 2%;
        margin-left: 20%;
        background-color:$color-secundario;
    }
}
.mapaDos{
    margin-left: 10%;
}
.tituloContacto{
    @extend .titulosWara;
    font-style: italic;
    margin-top: 5% ;
}
.subtituloContacto{
    display: flex;
    margin-top: 1%;
    justify-content: center;
    font-family: $tipografia-alternativa;
    font-style: italic;
    font-weight:900;
}
.tablaDeContacto{
    display: grid;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 21%;
    margin-right: 21%;
    font-family: $tipografia-alternativa;
    font-style: italic;
    font-weight:bolder;
    justify-content: center;
}
.empresaNombre{
    margin-bottom: 1%;
}
.primerNombre{
    margin-bottom: 1%;
}
.correoTelefono{
    margin-bottom: 1%;
}
.direccion{
    margin-bottom: 1%;
}
.enviar{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

/* --- Nuestros Productos --- */

.subtituloEspecias{
    display: flex;
    flex-direction: column;
    margin: 3%;
    font-family: $tipografia-alternativa;
    border: solid black;
    background-color: $color-secundario;
    padding: 1%;
    margin-left: 5% ;
    margin-right: 5%;
        h2{
            text-align: center;
            font-weight: 900;
        }
            h3{
                text-indent: 20px;
                line-height: 35px;
            }
                img{
                    align-self: center;
                }   
}
.productosEspeciasTubo{
    @extend .titulosWara;
}
.table{
    font-family: $tipografia-alternativa;
    font-style: italic;
    font-weight:bolder;
}
.icon-image{
    display: flex;
    justify-content: center;
}

/* --- Nuestros Productos --- */

.nuestrosClientes{
    display: grid;
    grid-template-columns: auto auto auto;
    margin:3%;
    justify-content: center;
    font-family: $tipografia-alternativa;
        .card-title{
            text-align: center;
            font-weight: 900 ;
        }
}

/* --- Inicio de Responsive --- */

/* --- Responsive - Celular ---*/


@media screen and (max-width: 768px){
    body{
        width: 100%;
        height: 100%;
    }
    header nav ul{
        display: flex;
        flex-direction: column;
    }
    .logo{
        width: 10%;
        height: 10%;
    }
    .redesSociales{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 8%;
        margin-bottom: 8%;
    }

/* --- Index --- */
    
    .cuadro{ 
        width: 80%;
        margin-top: 1%;
        display: flex;
        flex-direction: column;
        place-items: center;
        margin-left: 10%;
        margin-top: 5%;
    }
    .carousel {
        display: none;
    }

/* --- Recetas --- */
    
    .cuerpoTarjeta{ 
        display: flex;
        flex-direction: column;
        align-items: center;
    }

/* --- Recetas - Pagina 02 --- */

    .recetasDos{
        display: flex;
        flex-direction: column;
    }

/* --- Nuestros Clientes --- */

    .nuestrosClientes{
        display: grid;
        grid-template-columns: auto;
        justify-content: space-around;
    }

/* --- Contacto --- */

    .mapa{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        justify-content: center;
    }
    .tituloContacto{
        display: none;
    }
    .subtituloContacto{
        display:none;
    }
    .tablaDeContacto{
        display: none;
    }
}

 /*--- Responsive - Tablet --- */

@media screen and (min-width:769px) and (max-width:1020px){
    header nav ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    body{    
        width: 100%;
        height: 100%;
    }
    .logo{
        width: 10%;
        height: 10%;
    }

/* --- Index --- */
    
    .cuadro{ 
        width: 80%;
        margin-top: 1%;
        display: flex;
        flex-direction: column;
        place-items: center;
        margin-left: 10%;
        margin-top: 5%;
    }
    .carousel {
        height: 10%;
        width: 80%;
        margin-top: 10%;
        margin-bottom: 10%;
        transform: translateX(1%);
    }
    .redesSociales{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin-top: 5%;
            margin-bottom: 5%;
    }

/* --- Recetas --- */
    
    .cuerpoTarjeta{ 
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        align-items: center;
    }

/* --- Recetas - Pagina 02 --- */

    .recetasDos{
        display: flex;
        flex-direction: column;
    }

/* --- Nuestros Clientes --- */

    .nuestrosClientes{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-evenly;
    }

/* --- Contacto --- */

    .mapa{
        display: grid;
        grid-template-columns: 60%;
        grid-template-rows: auto;
        justify-content: center;
    }
    .tituloContacto{
        display: none;
    }
    .subtituloContacto{
        display:none;
    }
    .tablaDeContacto{
        display: none;
    }
}

@media screen and (min-width:1021px) and (max-width:1300px){

/* --- Nuestros Clientes --- */

    .nuestrosClientes{
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
        justify-content: space-evenly;
    }

/* --- Recetas --- */

    .cuerpoTarjeta{ 
        display: flex;
        flex-direction: column;
        margin-left: 10%;
    }
    
    .tituloContacto{
        display: none;
    }
    .subtituloContacto{
        display:none;
    }
    .tablaDeContacto{
        display: none;
    }

/* --- Contacto --- */

    .mapa{
        display: grid;
        grid-template-columns: 45% 45%;
        justify-content: center;
    }

/*--- Redes ---*/

    .redesSociales{
        justify-content: space-evenly;
        margin: 5%;
    }
}
@media screen and (min-width:1301px){

/* --- Nuestros Clientes --- */

    .nuestrosClientes{
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
        justify-content: space-evenly;
    }
    .mapa{
        display: grid;
        grid-template-columns: 50% 50%;
        font-family: $tipografia-alternativa;
        font-style: italic;
        font-weight:bolder;
        line-height: 30px;
        font-size: 27px;
        margin: 2%;
    }
}
/* --- Fin del Responsive --- */